{% extends "ngajionline/base.html" %}
{% load static %}

{% block title %}{% block head_title %}{% endblock %} | NgajiOnline.id{% endblock %}


{% block main %}
<div class="auth-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="auth-card">
                    {% if messages %}
                    <div class="messages mb-4">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}